@model Inwentarz.Models.HistoriaZdrowotna

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>HistoriaZdrowotna</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RekordId" />
            <div class="form-group">
                <label asp-for="IdentyfikatorZwierzecia" class="control-label"></label>
                <select asp-for="IdentyfikatorZwierzecia" class="form-control" asp-items="ViewBag.IdentyfikatorZwierzecia"></select>
                <span asp-validation-for="IdentyfikatorZwierzecia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnoza" class="control-label"></label>
                <input asp-for="Diagnoza" class="form-control" />
                <span asp-validation-for="Diagnoza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDiagnozy" class="control-label"></label>
                <input asp-for="DataDiagnozy" class="form-control" />
                <span asp-validation-for="DataDiagnozy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeczenieId" class="control-label"></label>
                <select asp-for="LeczenieId" class="form-control" asp-items="ViewBag.LeczenieId"></select>
                <span asp-validation-for="LeczenieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
